@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(./S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(./S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
  }
  